@use '../abstracts/variables' as *;
@use '../components/sidenav.scss';
@use '../components/topbar.scss';

.dashboard {
	display: flex;
	flex-flow: row nowrap;
	min-height: 100vh;
	background-color: $color-gray-light;
}

.container {
	flex: 1;
}
