@use '../abstracts/variables' as *;
@use '../abstracts/mixins';

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
}

body {
	background-color: $white;
	box-sizing: border-box;
}

a:link,
a:visited {
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}
