@use '../abstracts/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	line-height: 1.7;
	text-rendering: optimizeLegibility;
	color: $black;
}
