@use '../abstracts/variables' as *;

.btn {
	font-size: $font-medium;
	padding: 0.2rem 4rem;
	color: $color-white;
	border-radius: 4rem;
	background-color: $color-primary;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	min-height: 3rem;

	&-sidenav {
		background-color: #17a9ce;
		padding: clamp(0.1rem, 0.5vh, 0.4rem) 2rem;
		width: 80%;
		margin: 2rem auto;
		opacity: 0;
		transition: opacity 0.3s ease;
	}
}
